@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    height: 100vh;
}
body{
    height: inherit;
    margin:0;
    padding:.5rem;
}